KEY_MANAGER_ADMIN_TOKEN=<REQUIRED_RANDOM_TOKEN_OF_AT_LEAST_32_BYTES>
KEY_MANAGER_ALLOWED_ORIGINS=https://trusted-console.example
ZAI_KEY=<REQUIRED_PROVIDER_KEY>
ANTHROPIC_KEY=<OPTIONAL_PROVIDER_KEY>
GOOGLE_KEY=<OPTIONAL_PROVIDER_KEY>
OPENAI_KEY=<OPTIONAL_PROVIDER_KEY>
