KEY_MANAGER_ADMIN_TOKEN=<REQUIRED_ADMIN_TOKEN>
KEY_MANAGER_ALLOWED_ORIGINS=https://trusted-console.example
ZAI_KEY=<REQUIRED_PROVIDER_KEY>
ANTHROPIC_KEY=<OPTIONAL_PROVIDER_KEY>
GOOGLE_KEY=<OPTIONAL_PROVIDER_KEY>
OPENAI_KEY=<OPTIONAL_PROVIDER_KEY>
